*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    display: flex;
    flex-direction: column;
    background: red;
    border: 2PX solid black;
}

.navbar {
    height: 50px;
    border: 2PX solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background: blue;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
}

.menu-items {
    display: flex;
}

.menu-items >ul{
    display: flex;
    padding: 15px;
    margin: 10px;
}


.menu-items >ul >li{
    list-style-type: none;
    padding: 5px;
    color: white;
}

.menu-items >ul >li >a {
    color: white;
    text-decoration: none;
}

.menu-items >ul >li >a:hover {
    background: white;
    color: blue;
    padding: 5px;
    border-radius: 5px;
}

.content {
    flex: 1;
    display: flex;
}

.kiri {
    align-items: end;
    justify-content: center;
    background: yellow;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 500px;
    width: 50%;
    
}

.kanan {
    flex: 1;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(aseet/beruk.jpeg);
}